.secrets {
        width: 100%;
        height: 2207px;
        background-image: url(./src/images/secretsBack.webp);
        @include background_image;
        display: flex;
        justify-content: center;
        align-items: start;

        .secrets__container {
            width: 80%;
            height: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
        }

        .secrets__info {
            width: 80%;
            height: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .secrets__info>h2 {
            @include font-h2;
            margin-bottom: 0;
            margin-top: 0;
        }

        .secrets__img>img {
            min-width: 404px;
            max-width: 405px;
            height: 257px;
            border-radius: 10px;
        }
        
        .secrets__img {
            @include flex-center;
            gap: 30px;
        }

        .secrets__circle {
            @include flex-center;
            gap: 20px;
        }

         @media (min-width:1440px) and (max-width:2000px) {
            .secrets__container {
                width: 80%;
            }

            .secrets__img>img {
                min-width: 204px;
                max-width: 304px;
            }
        }

        @media (min-width:1200px) and (max-width:1440px) {
            .secrets__container {
                width: 80%;
            }

            .secrets__img>img {
                min-width: 154px;
                max-width: 254px;
            }
        }

        @media (min-width:1024px) and (max-width:1200px) {
            height: 1907px;

            .secrets__container {
                width: 80%;
            }

            .secrets__img>img {
                min-width: 234px;
                max-width: 334px;
            }

            .right-img {
                display: none;
            }
        }

        @media (min-width:768px) and (max-width:1024px) {
            height: 1907px;

            .secrets__container {
                width: 80%;
            }

            .secrets__img>img {
                min-width: 324px;
                max-width: 434px;
            }

            .right-img {
                display: none;
            }

            .left-img {
                display: none;
            }
        }

        @media (min-width:425px) and (max-width:768px) {
            height: 1607px;

            .secrets__container {
                width: 80%;
            }

            .secrets__img>img {
                min-width: 264px;
                max-width: 274px;
            }

            .right-img {
                display: none;
            }

            .left-img {
                display: none;
            }

            .secrets__info {
                height: 600px;
            }

            .secrets__img>img {
                margin-top: -50px;
            }
        }

        @media (min-width:320px) and (max-width:425px) {
            height: 1407px;

            .secrets__container {
                width: 85%;
            }

            .secrets__img>img {
                min-width: 194px;
                max-width: 204px;
                height: 157px;
            }

            .right-img {
                display: none;
            }

            .left-img {
                display: none;
            }

            .secrets__info {
                height: 500px;
            }

            .secrets__img>img {
                margin-top: -50px;
            }

            .secrets__info>h2 {
                font-size: 32px;
             }
        }
    }

    